@model IEnumerable<DisplayViewModel>

@{
	ViewData["Title"] = "DisplayAllUsers";
}

<h1>All Users:</h1>

<div class="container">
    <div class="row">
        @foreach (var user in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img class="img-thumbnail card-img-top" src="~/Images/@user.Img" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@user.FName @user.LName</h5>
                        <p class="card-text">@Html.DisplayNameFor(x => x.Id): @user.Id</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">@Html.DisplayNameFor(x => x.Balance): @user.Balance$</li>
                        <li class="list-group-item">@Html.DisplayNameFor(x => x.Email): @user.Email </li>
                    </ul>
                    <div class="card-body">
                        <a asp-action="Transfer" asp-controller="Home" asp-route-id="@user.Id" class="btn btn-outline-primary">Transfer</a>                        
                    </div>
                </div>
            </div>
        }
    </div>
</div>