@model IEnumerable<UserTransactionViewModel>
@{
    ViewData["Title"] = "TransactionsList";
    var sortOrder = ViewBag.CurrentSort as string;
    var amountSortParam = sortOrder == "Amount" ? "amount_desc" : "Amount";
    var dateSortParam = sortOrder == "Date" ? "date_desc" : "Date";
    var typeFilter = ViewBag.TypeFilter as string;

}

<h1>TransactionsList</h1>
<form method="get" asp-action="TransactionsList">
    <div class="form-group col-3">
        <label for="typeFilter">Filter by Type:</label>
        <select id="typeFilter" name="typeFilter" class="form-control col-3" onchange="this.form.submit()">
            <option value="">All</option>
            <option value="Deposit @(typeFilter == "Deposit" ? "selected" : null)" >Deposit</option>
            <option value="Withdraw @(typeFilter == "Withdraw" ? "selected" : null)">Withdraw</option>
            <option value="Transfer @(typeFilter == "Transfer" ? "selected" : null)">Transfer</option>
        </select>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="TransactionsList" asp-route-sortOrder="@dateSortParam" asp-route-typeFilter="@typeFilter">Date</a>
            </th>
            <th>
                <a asp-action="TransactionsList" asp-route-sortOrder="@amountSortParam">Amount</a>
            </th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model)
        {
            <tr>
                <td>@transaction.TransactionDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>@transaction.Amount.ToString("C")</td>
                <td>
                    @if (transaction.Type == UserTransactionViewModel.TransactionType.Deposit)
					{
						<span class="badge text-success">
							@transaction.Type.ToString()
						</span>
					}
					else if (transaction.Type == UserTransactionViewModel.TransactionType.Withdraw)
					{
						<span class="badge text-danger">
							@transaction.Type.ToString()
						</span>
					}else {
				    <span class="badge text-warning">
					@transaction.Type.ToString()
                       </span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


<a asp-action="Display" asp-controller="Home" class="btn btn-primary">Back to Home</a>